{{ $baseURL :=  .Site.BaseURL }}


{{ range first 1 $.Site.Data.art }}
  {{ $.Scratch.Set "name1" .name}}
{{ end }}

{{ range first 1 (after 1 $.Site.Data.art) }}
  {{ $.Scratch.Set "name2" .name}}
{{ end }}

{{ range first 1 (after 2 $.Site.Data.art) }}
  {{ $.Scratch.Set "name3" .name}}
{{ end }}

<div class="columns is-gapless">

  <div class="column is-1">
  </div>

  <div class="column is-10">
    <div class="columns is-1">
      <div class="column is-8">
        <figure class="image">
          <img src="{{ $baseURL }}art/{{ .Scratch.Get "name1" }}.jpg">
        </figure>
      </div>
      <div class="column is-4">
        <figure class="image">
          <img src="{{ $baseURL }}art/{{ .Scratch.Get "name2" }}.jpg">
        </figure>
        <br>
        {{ $name3x := .Scratch.Get "name3x" }}
        {{ if .Scratch.Get "name3x"}}
        <figure class="image">
          <img src="{{ $baseURL }}art/{{ .Scratch.Get "name3x" }}.jpg">
        </figure>
        {{ end }}
      </div>
    </div>
  </div>

  <div class="column is-1">
  </div>

</div>
