
<nav class="navbar" role="navigation" aria-label="main navigation">

  <div class="container">

  <!-- brand -->

  <div class="navbar-brand">
    <a class="navbar-item" href="{{ .Site.BaseURL }}">
      <img src="{{ .Site.BaseURL }}bh-logo.gif" alt="Bob Humphrey" width="28" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <!-- menu -->

  <div class="navbar-menu">

    <!-- left menu -->

    <div class="navbar-start">
      <!-- navbar items -->
    </div>

    <!-- right menu -->

    <div class="navbar-end">
      <!-- navbar items -->
      <a class="navbar-item" href="{{ .Site.BaseURL }}photography">
        Photography
      </a>
      <a class="navbar-item" href="{{ .Site.BaseURL }}drawings">
        Drawings
      </a>
    </div>
  </div>

</div>

</nav>
