<!DOCTYPE html>
<html>

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>
       {{ block "title" . }}
       {{ end }}
     </title>
     <link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css">
     <link rel="stylesheet" href="{{ .Site.BaseURL }}css/custom.css">
     <link rel="icon" href="{{ .Site.BaseURL }}favicon.ico">
</head>

<body>
