
html {
  background-color: whitesmoke;
}

#bho-logo {
   margin-left: auto;
   margin-right: auto;
}

nav a {
  font-weight: bold;
}

.page-heading h1 {
  text-align: center;
}

.section-main-content {
  background-color: white;
}

.footer, .section-footer {
  background-color: yellow;
}

.place-caption {
  padding-top: 7px;
  font-weight: bold;
  color: gray;
}
