{{ $baseURL :=  .Site.BaseURL }}

{{ partial "top" . }}
{{ partial "header" . }}

<section class="hero is-primary page-heading">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Drawings
      </h1>
    </div>
  </div>
</section>


<section class="section section-main-content">
    <div class="container">
      <div class="columns is-multiline">

        {{ range $.Site.Data.art }}
          <div class="column is-one-quarter">

          </div>
          <div class="column is-half">
            <figure class="image">
              <img src="{{ $baseURL }}art/{{ .name }}.jpg">
            </figure>
            <div class="place-caption">
              {{ .place }}
            </div>
          </div>
          <div class="column is-one-quarter">

          </div>
        {{ end }}

      </div>
    </div>
</section>


{{ partial "footer" . }}
{{ partial "bottom" . }}
